.citySearch {
  text-align: center;
  padding: 20px;
}
h1 {
  text-align: center;
  padding: 15px;
  font-size: 70px;
  font-family: "Spectral SC", serif;
}
h2 {
  font-family: "Spectral SC", serif;
  text-align: center;
}
footer {
  margin-top: 50px;
  box-sizing: 80%;
}
input {
  margin: 15px;
  height: 45px;
  width: 250px;
  border-radius: 10px;
}
a {
  height: 45px;
}
.container {
  font-size: 30px;
}
.additional {
  text-align: center;
}
.project {
  text-align: center;
  padding: 10px;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  border-radius: 20px;
}
